body{
    display: flexbox;
    padding: 0;
}
.itemsListContainer {
    display: flex;
    background-image: url(./public/videojuegos1.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    transition: all 0.4s;
    color: whitesmoke;
}
