.counter{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    padding: 20px 0;
    margin: auto;

}

.counter-button{
    border-radius: 20px;
    min-height: auto;
    
}

.cartTotal{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 40px 0;
    margin: auto;
}

.cartContent{
    display: flexbox;
    justify-items: center;
    align-items: baseline;
    text-align: center;
    gap: 20px;
    padding: 40px 0;
    margin: auto;

}

.cartElement{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    padding: 40px 0;
    margin: auto;
}

.card{
    display: flex;
    text-align: center;
    align-items: baseline;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
}


.emptyMessage{
    text-align: center;
}



