img{
    width: 50%;
    margin: 5px;
}

.buyButton{
    display: flex;
    justify-content: center;
    width: 25%;
    border: 10px;
    border-radius: 5%;
    margin: 5px;
}


.card{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
}

.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    padding: 40px 0;
    margin: auto;
}

.jelly {
    --uib-size: 50px;
    --uib-speed: .9s;
    --uib-color: black;
  
    position: relative;
    height: calc(var(--uib-size) / 2);
    width: var(--uib-size);
    filter: url('#uib-jelly-ooze');
    animation: rotate calc(var(--uib-speed) * 2) linear infinite;
  }
  
  .jelly::before,
  .jelly::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
    height: 100%;
    background: var(--uib-color);
    border-radius: 100%;
  }
  
  .jelly::before {
    animation: shift-left var(--uib-speed) ease infinite;
  }
  
  .jelly::after {
    animation: shift-right var(--uib-speed) ease infinite;
  }
  
  .jelly-maker {
    width: 0;
    height: 0;
    position: absolute;
  }
  
  @keyframes rotate {
    0%,
    49.999%,
    100% {
      transform: none;
    }
  
    50%,
    99.999% {
      transform: rotate(90deg);
    }
  }
  
  @keyframes shift-left {
    0%,
    100% {
      transform: translateX(0%);
    }
    50% {
      transform: scale(0.65) translateX(-75%);
    }
  }
  
  @keyframes shift-right {
    0%,
    100% {
      transform: translateX(0%);
    }
    50% {
      transform: scale(0.65) translateX(75%);
    }
  }